<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">
    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/landing-1.png" />
        <p>Why Companion?<p>
        <h2>Find <br><span class="rochester">Peace</span></h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/landing-2.png" />
        <p>Why Companion?<p>
        <h2>Be <br><span class="rochester">Relaxed</span></h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/landing-3.png" />
        <p>Why Companion?<p>
        <h2>Your <br><span class="rochester">Convenience</span></h2>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/img/landing-4.png" />
        <p>Why Companion?<p>
        <h2>Sign up <br><span class="rochester">Now</span></h2><ion-button (click)="loginPage()" shape="round"><ion-icon name="arrow-forward-outline"></ion-icon></ion-button>
      </div>
    </ion-slide>
  </ion-slides>
</ion-content>