p{
    color: #63BE82;
    font-size: 75%;
    font-family: 'DM-Sans-Bold' !important;
}
h2
{
    color: #1E1E1E;
    font-size: 150%;
    font-family: 'DM-Sans-Bold' !important;
}
.rochester{
    font-family: 'Rochester';
}
a p{
    color: #3E9C5C;
}